<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>D3 Hero App</title>
  <link rel="stylesheet" href="/css/main.css"> 
  <script src="/js/lib/requirejs/require.js" data-main="/js/main"></script>
</head>

<body>
  <div id="app">
    <section id="profile"></section> 
  </div>
</body>
</html>