.pd-midleft {
  left: 20%;
}
.pd-left {
  left: 18%;
}
.pd-midright {
  right: 20%;
}
.pd-right {
  right: 18%;
}
@font-face {
  font-family: "Exocet Blizzard";
  src: url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.eot');
  src: url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.eot?#iefix') format('embedded-opentype'), url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.woff') format('woff'), url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.ttf') format('truetype'), url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-medium.svg#svgExocetReaper') format('svg');
}
@font-face {
  font-family: "Exocet Blizzard Light";
  src: url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.eot');
  src: url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.eot?#iefix') format('embedded-opentype'), url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.woff') format('woff'), url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.ttf') format('truetype'), url('http://us.battle.net/d3/static/fonts/exocet/exocet-blizzard-light.svg#svgExocetReaper') format('svg');
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #3B2E1D;
}
h1 {
  font-family: "Exocet Blizzard Light", "Palatino Linotype", Times, serif;
  margin: 0 0 0.5em 0;
  color: #fff;
}
h1 .paragon {
  color: #7979d4;
}
h2 {
  font-family: "Exocet Blizzard Light", "Palatino Linotype", Times, serif;
  font-size: 40px;
  margin: 0;
}
.is-hidden {
  display: none;
}
.search {
  position: relative;
  width: 310px;
}
.search-input {
  width: 300px;
  height: 30px;
  font-size: 17px;
  font-family: "Exocet Blizzard Light", "Palatino Linotype", Times, serif;
  padding: 6px;
  display: block;
}
.recent-heroes {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid black;
  background: white;
  z-index: 100;
}
.recent-heroes h3 {
  text-align: center;
  padding: 0.5em 0;
  margin: 0;
  border-bottom: 1px solid black;
}
.recent-heroes.is-loaded {
  display: block;
}
.recent-heroes-data {
  height: 300px;
  width: 300px;
  overflow: auto;
}
.recent-heroes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.recent-heroes-list .recent-heroes-item {
  padding: 5px 0;
  border-top: 1px solid black;
}
.recent-heroes-list .recent-heroes-item:first-child {
  border: none;
}
.recent-heroes-list .recent-heroes-item:hover {
  background: #ccc;
}
.recent-heroes-list .recent-heroes-item .hero-item-link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
  font-family: 'Palatino Linotype', Times, serif;
}
.recent-heroes-list .recent-heroes-item .hero-item-link .hero-item-title {
  position: relative;
}
.recent-heroes-list .recent-heroes-item .hero-item-link .hero-item-title h4 {
  margin: 0.2em 0;
  font-size: 1.2em;
}
.recent-heroes-list .recent-heroes-item .hero-item-link .hero-item-title span {
  font-style: italic;
  text-transform: capitalize;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.recent-heroes-list .recent-heroes-item .hero-item-link .hero-item-account span {
  color: #7979d4;
}
.loading {
  position: absolute;
  top: 8px;
  right: 0;
}
.loading img {
  width: 30px;
  height: 30px;
}
.heroes {
  float: left;
  margin-top: 30px;
}
.paperdoll {
  float: left;
  border: 1px solid black;
  background: #B3A394;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: -90px;
}
.heroes-list {
  list-style: none;
  margin: 0;
  background: white;
  padding: 0;
  width: 330px;
  border: 1px solid black;
  border-radius: 5px;
}
.heroes-list li {
  height: 66px;
  border-top: 1px solid black;
}
.heroes-list li:first-child {
  border: 0;
}
.heroes-list li button {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Palatino Linotype', Times, serif;
  text-transform: capitalize;
}
.heroes-list li button.is-selected {
  background: #ccc;
}
.heroes-list .hero-level {
  float: right;
  font-style: normal;
  font-size: 44px;
  margin-right: 10px;
}
.heroes-list .hero-name {
  font-size: 25px;
  text-align: left;
  float: left;
  padding-left: 8px;
}
.heroes-list .hero-name em {
  display: block;
  font-family: 'Palatino Linotype', Times, serif;
  font-size: 18px;
}
.heroes-list .hero-portrait {
  display: block;
  width: 83px;
  height: 66px;
  float: left;
  background: url(/img/heroes.jpg) no-repeat 0 0;
}
.heroes-list .hero-portrait.hero-0.hero-barbarian {
  background-position: 0 0;
}
.heroes-list .hero-portrait.hero-0.hero-demon-hunter {
  background-position: 0 -66px;
}
.heroes-list .hero-portrait.hero-0.hero-witch-doctor {
  background-position: 0 -198px;
}
.heroes-list .hero-portrait.hero-0.hero-crusader {
  background-position: 0 -330px;
}
.heroes-list .hero-portrait.hero-0.hero-wizard {
  background-position: 0 -264px;
}
.heroes-list .hero-portrait.hero-0.hero-monk {
  background-position: 0 -132px;
}
.heroes-list .hero-portrait.hero-1.hero-barbarian {
  background-position: -83px 0;
}
.heroes-list .hero-portrait.hero-1.hero-crusader {
  background-position: -83px -330px;
}
.heroes-list .hero-portrait.hero-1.hero-demon-hunter {
  background-position: -83px -66px;
}
.heroes-list .hero-portrait.hero-1.hero-wizard {
  background-position: -83px -264px;
}
.heroes-list .hero-portrait.hero-1.hero-monk {
  background-position: -83px -132px;
}
.heroes-list .hero-portrait.hero-1.hero-witch-doctor {
  background-position: -83px -198px;
}
.hero-nameplate {
  text-align: center;
  margin: 0.5em 0;
}
.hero-gear {
  margin: 0 auto;
  width: 450px;
  height: 655px;
  position: relative;
}
.hero-gear > div {
  position: absolute;
  width: 70px;
  height: 80px;
  cursor: pointer;
  border-radius: 3px;
}
.hero-gear .gear-head {
  top: 5px;
  height: 128px;
  width: 64px;
  left: 50%;
  margin-left: -32px;
}
.hero-gear .gear-bracers {
  top: 120px;
  width: 64px;
  height: 128px;
  right: 18%;
}
.hero-gear .gear-feet {
  bottom: 10px;
  height: 128px;
  width: 64px;
  left: 50%;
  margin-left: -32px;
}
.hero-gear .gear-hands {
  top: 160px;
  height: 128px;
  width: 64px;
  left: 18%;
}
.hero-gear .gear-legs {
  bottom: 145px;
  height: 128px;
  width: 64px;
  left: 50%;
  margin-left: -32px;
}
.hero-gear .gear-neck {
  top: 30px;
  width: 64px;
  height: 64px;
  right: 20%;
}
.hero-gear .gear-leftFinger {
  bottom: 290px;
  width: 64px;
  height: 64px;
  left: 20%;
}
.hero-gear .gear-rightFinger {
  bottom: 290px;
  width: 64px;
  height: 64px;
  right: 20%;
}
.hero-gear .gear-shoulders {
  top: 25px;
  height: 128px;
  width: 64px;
  left: 20%;
}
.hero-gear .gear-waist {
  top: 310px;
  height: 64px;
  width: 64px;
  left: 50%;
  margin-left: -32px;
}
.hero-gear .gear-torso {
  height: 164px;
  top: 140px;
  width: 82px;
  left: 50%;
  margin-left: -41px;
}
.hero-gear .gear-mainHand {
  bottom: 100px;
  width: 64px;
  height: 128px;
  left: 18%;
}
.hero-gear .gear-offHand {
  bottom: 100px;
  width: 64px;
  height: 128px;
  right: 18%;
}
.tooltip {
  background: #222;
  width: 350px;
  min-height: 150px;
  padding: 8px;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #999;
  border-radius: 5px;
}
.tooltip h1[class*='quality'] {
  font-size: 18px;
  text-shadow: 0 0 3px #241209;
}
.tooltip .quality-gray {
  color: #666;
}
.tooltip .quality-white {
  color: #fff;
}
.tooltip .quality-blue {
  color: #7979d4;
}
.tooltip .quality-blue span {
  color: #a99fff;
}
.tooltip .quality-yellow {
  color: #f8cc35;
}
.tooltip .quality-green {
  color: #8bd442;
}
.tooltip .quality-orange {
  color: #bf642f;
}
.tooltip .quality-orange span {
  color: #fff;
}
.tooltip .image {
  float: left;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
.tooltip .image img {
  margin: 0;
  padding: 0;
  border: 0;
}
.tooltip .specs {
  float: left;
  width: 250px;
  margin-left: 10px;
}
.tooltip .attrs {
  clear: both;
  padding-top: 6px;
}
.tooltip .type {
  padding-top: 3px;
}
.tooltip .value {
  color: #fff;
  display: block;
  width: 100%;
  font-family: 'Palatino Linotype', Times, serif;
  font-size: 35px;
}
.tooltip .valueType {
  margin-bottom: 10px;
}
.tooltip .speedblock {
  padding: 3px 0;
}
.tooltip .speedblock span {
  color: #fff;
}
.tooltip .attr-category {
  font-weight: normal;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  margin: 12px 0 0 0;
}
.tooltip .attributes {
  padding: 0;
  margin: 0;
  padding-top: 8px;
  list-style: none;
  color: #7979d4;
}
.tooltip .attributes .attr {
  background: url(/img/bullet.gif) no-repeat 0 3px;
  padding-left: 12px;
  margin-bottom: 3px;
}
.tooltip .gems {
  padding: 0;
  margin: 0;
  padding-top: 8px;
  list-style: none;
  color: #ffffff;
}
.tooltip .gems li {
  line-height: 1.4em;
  margin-bottom: 3px;
}
.tooltip .gems .gem {
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.tooltip .gems .bullet {
  margin: 0 5px;
}
.tooltip .slot {
  float: right;
  padding-top: 3px;
  text-transform: capitalize;
}
.tooltip .reqlevel {
  padding-top: 10px;
  color: #A99877;
}
.tooltip .reqlevel span {
  color: #fff;
}
.tooltip .flavor {
  clear: both;
  color: #AD835A;
  font-family: 'Palatino Linotype', Times, serif;
  font-size: 15px;
  font-style: italic;
  border-top: 2px solid #ad835a;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 7px;
}
.bg-gray {
  background: url(http://us.battle.net/d3/static/images/item/icon-bgs/gray.png) no-repeat 0 0;
  border: 1px solid #666;
}
.bg-white {
  background: url(http://us.battle.net/d3/static/images/item/icon-bgs/brown.png) no-repeat 0 0;
  border: 1px solid #513f2e;
}
.bg-blue {
  background: url(http://us.battle.net/d3/static/images/item/icon-bgs/blue.png) no-repeat 0 0;
  border: 1px solid #a99fff;
}
.bg-yellow {
  background: url(http://us.battle.net/d3/static/images/item/icon-bgs/yellow.png) no-repeat 0 0;
  border: 1px solid #b1a73c;
}
.bg-green {
  background: url(http://us.battle.net/d3/static/images/item/icon-bgs/green.png) no-repeat 0 0;
  border: 1px solid #87a73d;
}
.bg-orange {
  background: url(http://us.battle.net/d3/static/images/item/icon-bgs/orange.png) no-repeat 0 0;
  border: 1px solid #c29337;
}
